body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#containerForm , #endPaga {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ol {
    margin-left: 20px;
}

h1, h2, h3 {
    margin-top: 20px;
}

span {
    font-weight: bold;
}

#errorDate {
    color: red;
    margin-top: 10px;
}


